# Ignore Python virtual environment
venv/

# Ignore React Native dependencies
node_modules/

# React Native build files
.expo/
.expo-shared/

# Python cache
__pycache__/
*.pyc

# logs
logs/
Backend/logs/
*.log

# local config
.env

# databases
*.db

# ML artifacts
*.pkl